@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}.container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
}

.row {
  display: flex;
  justify-content: space-between; 
  flex-basis: 90%;
  width: 90%;
  margin: 10px auto; 
}

.ball {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px; 
  transform: rotateY(0deg);
  background-color: rgb(161, 159, 159);
  margin: 10px; 

}

.ball img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(50px); 
}




